<a href="https://colab.research.google.com/github/Data-alchemist-mani/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/Copy_of_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
### YOUR CODE STARTS HERE
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
v_records = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'

In [0]:
df =pd.read_csv(v_records,header=None,names=['Party','handicapped-infants',
                                            'water-project-cost-sharing',
                                            'adoption-of-the-budget-resolution',
                                             'Physician-fee-freeze',
                                             'El-Salvador-aid',
                                             'religious-groups-in-school',
                                             'anti-satellite-test-ban',
                                             'aid-to-nicaraguan-contras',
                                             'mx-missile','immigration',
                                             'synfuels-corporation-cutback',
                                             'education-spending',
                                             'super-fund-right-to-sue',
                                             'crime','duty-free-exports',
                                             'export-administration-act-South-Affrica'])
df.shape

(435, 17)

In [0]:
df.head()

        Party  ... export-administration-act-South-Affrica
0  republican  ...                                       y
1  republican  ...                                       ?
2    democrat  ...                                       n
3    democrat  ...                                       y
4    democrat  ...                                       y

[5 rows x 17 columns]

In [0]:
df.replace({'?':np.NaN, 'n':0, 'y':1}, inplace=True)

In [0]:
df.head()

        Party  ...  export-administration-act-South-Affrica
0  republican  ...                                      1.0
1  republican  ...                                      NaN
2    democrat  ...                                      0.0
3    democrat  ...                                      1.0
4    democrat  ...                                      1.0

[5 rows x 17 columns]

In [0]:
df.tail()

          Party  ...  export-administration-act-South-Affrica
430  republican  ...                                      1.0
431    democrat  ...                                      1.0
432  republican  ...                                      1.0
433  republican  ...                                      1.0
434  republican  ...                                      0.0

[5 rows x 17 columns]

In [0]:
df.isnull().sum()

Party                                        0
handicapped-infants                         12
water-project-cost-sharing                  48
adoption-of-the-budget-resolution           11
Physician-fee-freeze                        11
El-Salvador-aid                             15
religious-groups-in-school                  11
anti-satellite-test-ban                     14
aid-to-nicaraguan-contras                   15
mx-missile                                  22
immigration                                  7
synfuels-corporation-cutback                21
education-spending                          31
super-fund-right-to-sue                     25
crime                                       17
duty-free-exports                           28
export-administration-act-South-Affrica    104
dtype: int64

In [0]:
dem.isnull().sum()

Party                                      0
handicapped-infants                        0
water-project-cost-sharing                 0
adoption-of-the-budget-resolution          0
Physician-fee-freeze                       0
El-Salvador-aid                            0
religious-groups-in-school                 0
anti-satellite-test-ban                    0
aid-to-nicaraguan-contras                  0
mx-missile                                 0
immigration                                0
synfuels-corporation-cutback               0
education-spending                         0
super-fund-right-to-sue                    0
crime                                      0
duty-free-exports                          0
export-administration-act-South-Affrica    0
dtype: int64

In [0]:
rep.isnull().sum()

Party                                      0
handicapped-infants                        0
water-project-cost-sharing                 0
adoption-of-the-budget-resolution          0
Physician-fee-freeze                       0
El-Salvador-aid                            0
religious-groups-in-school                 0
anti-satellite-test-ban                    0
aid-to-nicaraguan-contras                  0
mx-missile                                 0
immigration                                0
synfuels-corporation-cutback               0
education-spending                         0
super-fund-right-to-sue                    0
crime                                      0
duty-free-exports                          0
export-administration-act-South-Affrica    0
dtype: int64

In [0]:
df.describe()

       handicapped-infants  ...  export-administration-act-South-Affrica
count           423.000000  ...                               331.000000
mean              0.442080  ...                                 0.812689
std               0.497222  ...                                 0.390752
min               0.000000  ...                                 0.000000
25%               0.000000  ...                                 1.000000
50%               0.000000  ...                                 1.000000
75%               1.000000  ...                                 1.000000
max               1.000000  ...                                 1.000000

[8 rows x 16 columns]

In [0]:
rep = df[df['Party'] == 'republican']

In [0]:
rep.shape

(168, 17)

In [0]:
rep.head()

         Party  ...  export-administration-act-South-Affrica
0   republican  ...                                      1.0
1   republican  ...                                      NaN
7   republican  ...                                      1.0
8   republican  ...                                      1.0
10  republican  ...                                      0.0

[5 rows x 17 columns]

In [0]:
dem = df[df['Party'] == 'democrat']

In [0]:
dem.shape

(267, 17)

In [0]:
dem.head()

      Party  ...  export-administration-act-South-Affrica
2  democrat  ...                                      0.0
3  democrat  ...                                      1.0
4  democrat  ...                                      1.0
5  democrat  ...                                      1.0
6  democrat  ...                                      1.0

[5 rows x 17 columns]

In [0]:
dem.describe()

       handicapped-infants  ...  export-administration-act-South-Affrica
count           258.000000  ...                               185.000000
mean              0.604651  ...                                 0.935135
std               0.489876  ...                                 0.246956
min               0.000000  ...                                 0.000000
25%               0.000000  ...                                 1.000000
50%               1.000000  ...                                 1.000000
75%               1.000000  ...                                 1.000000
max               1.000000  ...                                 1.000000

[8 rows x 16 columns]

In [0]:
rep.describe()

       handicapped-infants  ...  export-administration-act-South-Affrica
count           165.000000  ...                               146.000000
mean              0.187879  ...                                 0.657534
std               0.391804  ...                                 0.476168
min               0.000000  ...                                 0.000000
25%               0.000000  ...                                 0.000000
50%               0.000000  ...                                 1.000000
75%               0.000000  ...                                 1.000000
max               1.000000  ...                                 1.000000

[8 rows x 16 columns]

In [0]:
from scipy.stats import ttest_1samp

In [0]:
from scipy import stats

In [0]:
#Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
print('dem votes:',dem['crime'].value_counts().sum())
print('rep votes:',rep['crime'].value_counts().sum())

dem votes: 257
rep votes: 161

In [0]:
print(np.mean(dem['crime']))
print(np.mean(rep['crime']))

0.35019455252918286
0.9813664596273292

In [0]:
stats.ttest_ind(dem['crime'],rep['crime'], nan_policy='omit')

Ttest_indResult(statistic=-16.342085656197696, pvalue=9.952342705606092e-47)

In [0]:
9.952342705606092e-47 < 0.01

True

In [0]:
#Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
print('rep votes:', rep['religious-groups-in-school'].value_counts().sum())
print('dem votes:', dem['religious-groups-in-school'].value_counts().sum())

rep votes: 166
dem votes: 258

In [0]:
print(np.mean(rep['religious-groups-in-school']))
print(np.mean(dem['religious-groups-in-school']))

0.8975903614457831
0.47674418604651164

In [0]:
stats.ttest_ind(rep['religious-groups-in-school'],dem['religious-groups-in-school'], nan_policy='omit')

Ttest_indResult(statistic=9.737575825219457, pvalue=2.3936722520597287e-20)

In [0]:
2.3936722520597287e-20 < 0.01

True

In [0]:
# Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1
print('rep votes:', rep['water-project-cost-sharing'].value_counts().sum())
print('dem votes:', dem['water-project-cost-sharing'].value_counts().sum())

rep votes: 148
dem votes: 239

In [0]:
print(np.mean(rep['water-project-cost-sharing']))
print(np.mean(dem['water-project-cost-sharing']))

0.5067567567567568
0.502092050209205

In [0]:
stats.ttest_ind(dem['water-project-cost-sharing'],rep['water-project-cost-sharing'], nan_policy='omit')

Ttest_indResult(statistic=-0.08896538137868286, pvalue=0.9291556823993485)

In [0]:
0.9291556823993485 > 0.1

True